@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @media (min-width: 1024px) and (min-height: 801px) {
    /* Large Screens should have some top padding + grayish background, but requires a min height as well */
    .lg-h-screen {
      padding-top: 10rem; /* Equivalent to pt-40 */
      background-color: #F7F7F7;
    }
  }
}



/* Default Font */
@font-face {
  font-family: 'Universal Sans Display';
  src: url('../public/fonts/Universal-Sans-Display-425.woff2') format('woff2');
  font-weight: 400; 
  font-style: normal;
}

@font-face {
  font-family: 'Universal Sans Display';
  src: url('../public/fonts/Universal-Sans-Display-425Italic.woff2') format('woff2');
  font-weight: 400; 
  font-style: italic;
}

/* Medium Font */
@font-face {
  font-family: 'Universal Sans Display';
  src: url('../public/fonts/Universal-Sans-Display-525.woff2') format('woff2');
  font-weight: 500; 
  font-style: normal;
}

@font-face {
  font-family: 'Universal Sans Display';
  src: url('../public/fonts/Universal-Sans-Display-525Italic.woff2') format('woff2');
  font-weight: 500; 
  font-style: italic;
}

/* Bold Font */
@font-face {
  font-family: 'Universal Sans Display';
  src: url('../public/fonts/Universal-Sans-Display-900.woff2') format('woff2');
  font-weight: 900;  
  font-style: normal;
}

@font-face {
  font-family: 'Universal Sans Display';
  src: url('../public/fonts/Universal-Sans-Display-900Italic.woff2') format('woff2');
  font-weight: 900; 
  font-style: italic;
}
/* // */



body {
  margin: 0;
  font-family: 'Universal Sans Display', -apple-system, BlinkMacSystemFont, 'Universal Sans Display', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */